.header{
  width:auto;
  height:80px;
  background-color: black;
  /*position: fixed;*/

}

/* Home page */
.home-page{
  width:auto;
  height:700px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlqteZWhNwM3yONRUfDwBLxBiovxIdfQOJFGich6MsGHdIPtwqBg);
    background-size: cover;
    position: relative;
}

.insignia{
  width: 350px;
  height: 350px;
  background-image: url(http://tabard.gnomeregan.info/result/faction_Horde_icon_emblem_114_border_border_01_iconcolor_b1b8b1_bgcolor_646464_bordercolor_ffffff.png);
  background-size: cover;
  position: absolute;
  right: 40%;
  top: 25%;
  z-index: 1;
}

/* Roster page */
.roster-page{
  width:auto;
  height: 700px;
  background-color: blue;
}
